<li><div class="todo">
  <div class="display">
    <input class="check" type="checkbox">
  <div class="todo-content">
<span class='name'>{{name}}</span>
<span class=phone>{{phone}}</span>
<span class=field1>{{field1}}</span>
</div>
    <span class="todo-destroy"></span>
  </div>
  <div class="edit">
    <input class="todo-input" type="text" value="{{field1}}">
  </div>
</div>
</li>