body {
  background: url("../images/beige_paper.png") repeat 0 0;color:#000; */
  font-size: 13px;
  font-family: 'Georgia', Georgia, Serif, ;
  color:#666;
  padding:0;
  margin:0;
}

#contaner {
	height:500px;
	width:600px;
	margin:0 auto;
}

#horizlogo {
  background: url("../images/logo_horiz.png") repeat 0 0;color:#000;
  width:430px;
  height:96px;
  margin:20px auto;
}

#content {
margin: 0 220px;
border: 2px solid #564b47;
border-top: none;
background-color: #ffffff;
}

#footer{
width:100%;
height:40px;
text-align:center;

}

#footer p{
font-size:10px;
font-family:"Helvetica",Arial, sans-serif;
padding-top: 23px;
text-shadow:0 1px 1px rgba(255, 255, 255, 0.9);
}

#buildings{
 background:url("../images/buildings.png") no-repeat-x scroll 0 0 #FFFFFF;
 display: block;
 margin:0 auto;

}

#banner{
  background:url(../images/banner2.png)
}
#banner>img{
  display:none;
}

.three-col {
       -moz-column-count: 3;
       -moz-column-gap: 20px;
       -webkit-column-count: 3;
       -webkit-column-gap: 20px;
}
